@import url("https://fonts.googleapis.com/css?family=Rubik:300,500,900i");

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 900px) {
  .content {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 500px) {
  a.button {
    visibility: hidden;
  }
}
@media only screen and (max-width: 400px) {
  .content-item2 {
    visibility: hidden;
  }
}

.intro {
  margin-left: auto;
}
.typing::after {
  content: "";
  right: -2px;
  width: 1px;
  height: 5%;
  border-right: 2px solid rgb(0, 0, 0);
  animation: blink 0.25s infinite ease;
}
body {
  font-family: "Rubik", Arial;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;

  background-color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px 0 48px;
  height: 64px;
  background-color: #000000;
  color: #ffffff;

  transition: background-color 1s;
}

.header-logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
}

header.scrolled {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 1s;
}

.logo {
  /* align-self: right; */
  z-index: 1;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.25;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
}

a {
  color: #052837;
  text-decoration: none;
}

a.button {
  display: inline-block;
  background-color: #070707;
  color: #ffffff;
  border-radius: 50px;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin: 20px;
}

a.button:hover {
  display: inline-block;
  background-color: #2c2c2c;
  color: #aaa7a7;
  border-radius: 60px;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin: 20px;
}

p {
  margin: 1.5em 0 1.5em 0;
}

section.hero {
  margin: 64px 0 0 0;
  padding: 160px 48px 160px 48px;
  background-color: #ffffff;
  color: #070707;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-origin: border-box;
  width: 100%;
}

section.hero h2,
section.hero p {
  max-width: 450px;
}

section.content {
  margin: 48px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.content-item {
  margin: 20px;
  padding: 20px;

  text-align: center;
  align-items: center;

  width: 100%;
}
.content-item2 {
  margin: 20px;
  padding: 20px;

  text-align: center;
  align-items: center;

  width: 100%;
}

h2,
h3,
p,
section img,
a.button {
  opacity: 0;
}

section div {
  width: 350px;
}

section div.content {
  margin: 0 0 0 60px;
}

div.slides {
  position: relative;
  width: 375px;
  height: 450px;
  cursor: pointer;
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

div.slides img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: transform 0.5s, box-shadow 0.5s;
  pointer-events: none;
}

div.slides img:first-child {
  z-index: 1;
}

div.slides:hover img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

div.slides img.displayed {
  animation: fadein 0.2s;
}

#github-img {
  width: 30px;
  height: 30px;
}

footer {
  margin: auto;
  padding: 25px 0 0 0;
  text-align: center;
}

footer label {
  margin-top: 10px;
}
.contact-img {
  display: inline-block;
  width: 30px;
  height: 30px;
}
